*{
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  padding: 30px;
  font-family: "Helvetica", Sans-serif;
}

h1 a {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: #f0f0f0;
}

.desc {
  font-size: 30px;
  margin-top: 10px;
}

#ck-inp {
  padding: 10px; 
  font-size: 20px;
  background: #101010;
  border-radius: 5px;
  border: none;
  color: white;
  outline: none;
}

#ck-btn {
  padding: 10px; 
  font-size: 20px;
  background: #101010;
  border-radius: 5px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

#ck-btn:hover {
  color: #f0f0f0;
}

#ck-msg {
  font-size: 15px;
  margin-top: 10px;
} 

.add p {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

code {
  font-size: 20px;
  background: #101010;
  padding: 10px;
  border-radius: 5px;
}
